body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.startpage {
    height: 100%;
    background-image: url('welcome.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black; 
    font-size: xx-large;
}

h1 {
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
}


button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5) ;
}
button:hover
{
    background-color:rgb(137, 125, 125);
}
